html,
body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../img/stickbug.gif");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.75);
  width: 60%;
  height: 100vh;
  padding: 16px;
}

#counter {
	font-size: 4em;
}