@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* page css */

html,
body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grow {
  flex: 1;
}

.title {
  font-weight: 700;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-links .anchor:not(:last-child) {
  margin-right: 8px;
}

.header a {
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

#activated {
  position: relative;
}

#activated::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  bottom: 0;
  filter: blur(1px);
}

/* Content */

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.75);
  width: 60%;
  min-height: calc(100vh - 32px);
  padding: 16px;
  position: relative;
}

.shadow {
  position: relative;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  background-image: repeating-linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 100vh 200vh;
  background-position: 0;
  width: 2px;
  height: 100%;
  animation: rainbow 5s linear infinite;
  -webkit-animation: rainbow 1s linear infinite;
  filter: blur(3px);
}

.shadow::after {
  right: 0;
  left: unset;
}

/* Animation keyframes */

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 100%;
  }
}

/* Main */

main {
  /* Create space for content and push footer down */
  flex: 1;
}

main article {
  display: flex;
  flex-direction: row;
  filter: opacity(0.8);
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 4px;
}

main article > .article-content {
  margin: 0px 16px;
}

.cover-image {
  float: right;
  height: 160px;
  width: 300px;
  resize: both;
  image-rendering: pixelated;
  filter: contrast(5);
}

#obfuscate {
  width: 85px;
  margin-left: 5px;
}

.big-list-item > div {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

#counter {
  font-size: 2em;
}

.footer .text {
  margin-bottom: -10px;
}
